/* main css file  */
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
list-style: none;
}
.d-flex{
    display: flex;
}
.logo{
    height: 60px;
}
.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
}
.navbar ul li {
    padding: 10px 20px;
}
.navbar ul li a{
    font-weight: bold;
    color:#7f7f7f;
}
