/* main css file  */
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
list-style: none;
}
.d-flex{
    display: flex;
}
.logo{
    height: 60px;
}
.hero{
    margin-top: 100px;
}
.navbar{
    display: flex;
    box-shadow: 0 6px 15px rgba(206, 212, 218, .3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
}
.navbar ul li {
    padding: 10px 20px;
}
.navbar ul li a{
    font-weight: bold;
    color:#7f7f7f;
}

.hero-wrapper{
    justify-content: center;
    display: grid;
    grid-template-columns: 48% 50%;
    gap:2%;
}
.hero{
    height: 94vh;
    min-height: 650px;
}
h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0;
    line-height: 1.2;
    }
.box1{
    margin-top: 80px;
}
.box1 h1{
    margin-bottom: 0;
    font-size: 54px;
    font-weight: 700;
}
.box1 h6{
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 500;
}
.box1 h6,p{
    color:#8e8a8a;
}
.box1 h1{
   color:#605050;    
}
.box1 p{
    font-size: 22px;
}
.box2 img{
    width: 100%;
    max-width: 720px;
    margin-top: -95px;
 }
.button{
    padding: 10px 0px;
}
.btn{
    border: none;
    color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  font-size: 7px;
}
button:first-child{
    background-color: orangered;
}
button:last-child{
    background-color:black;
}
.button{
    padding-top: 16px;
}
.social{
    margin-top: 16px;
}


/* media queries  */
@media only screen and (max-width: 600px) {
    .hero-wrapper{
        grid-template-columns: 100%;
    }
}
